/* Add CSS styling here */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;

  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Fredoka One", cursive;
  background-color: lightsalmon;
}
h1 {
  font-size: 4rem;
  color: purple;
  padding-left: 2rem;
}
header {
  background-color: dodgerblue;
}
nav {
  display: flex;
  width: 40%;
  margin-left: 4rem;
  justify-content: space-evenly;
}
.buttons a {
  font-size: 2rem;
  background: green;
  padding: 0.5rem;
  text-decoration: none;
  color: lightgray;
  border: 3px dotted black;
}
h2 {
  font-size: 4rem;
}
.beach {
  width: 50%;
}

.intro {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 1rem 0 3rem 1rem;
}
section {
  display: flex;
  flex-flow: column;
  font-size: 2rem;
  justify-content: space-around;
  margin-left: 3rem;
  color: white;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.images img {
  width: 20%;
  height: auto;
  flex-basis: 21%;
  object-fit: cover;
}
.imgtxt {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 2rem;
}
.imgtxt p {
  border: 3px dotted white;
}
footer {
  font-size: 3rem;
  text-align: center;
  background-color: dodgerblue;
}
p {
  font-size: 2rem;
}
